<h1>Pages#info</h1>
<p>こんにちは〜〜〜〜〜〜〜〜！！</p>

<div class="btn">
	<a href="/ideas">picture</a>
</div>

<div class="btn">
	<a href="/ideas">picture</a>
</div>

<div class="btn">
	<a href="/ideas">picture</a>
</div>

<div class="btn">
	<a href="/ideas">picture</a>
</div>